@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');
.register {
  background: url('https://images.unsplash.com/photo-1534066519516-fc7b4cc6062c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1374&q=80');
  margin: 0;
  padding: 0;
  background-size: 100% auto;
}
.login {
  background: url('https://images.unsplash.com/photo-1527239441953-caffd968d952?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80');
  margin: 0;
  padding: 0;
  background-size: 100% auto;
}
