@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;0,900;1,300&family=Zen+Tokyo+Zoo&display=swap');
.register {
  background: url(https://images.unsplash.com/photo-1528968620-57e0257ff360?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1335&q=80)
    no-repeat center center;
  background-size: cover;
}
.login {
  background: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1364&q=80)
    no-repeat center center;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  background-color: #6a6f74;
  font-family: 'Montserrat Alternates', sans-serif;
}
.navbar {
  font-family: 'Zen Tokyo Zoo', cursive;
  background-color: rgb(216, 197, 214);
}
.navbar1 {
  font-family: 'Zen Tokyo Zoo', cursive;
  background-color: rgb(28, 28, 29);
}
.home {
  background-color: rgb(35, 66, 131);
  background: url(https://images.unsplash.com/photo-1493723843671-1d655e66ac1c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  text-align: left;
}
.form {
  height: 80%;
  z-index: 2;
}
.flow {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 400%;
  margin: 0;
  padding: 0;
  background-color: #242326;
}
